@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
#brand-name {
    font-family: 'Montserrat', sans-serif;
}
#nav-link-custom {
    font-size: small;
    background-color: rgb(255, 255, 255);
}
